
@{
    ViewData["Title"] = "MessageBox";
    Layout = "~/Views/Shared/_HesabımLayout.cshtml";
}

@model List<ContactMessage>


<div class="container">
    <div class="my-2">


        @foreach (var message in Model)
        {
            <div class="card " style="background-color: #81ecec">
                <h5 class="card-header fs-2">@message.Name @message.Surname</h5>
                <div class="card-body">
                    <p class="card-text">@message.Message</p> <br />
                    <p>@message.Email</p>
                    <p>@message.Phone</p>

                </div>
            </div>
        }
    </div>
</div>

